* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: #fff
}

.image {
    width: 100vw;
    height: 100vh;
    background: url(./headerBackgroundImage.jpg) center/cover no-repeat;
}

.banner {
    background: var(--clr-white);
    width: 45vw;
    height: 30vh;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 auto; 
}